

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.imageChoise {
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}



.imageEditor {
    width: 100%;
    height: 100vh !important;
}
.videoPlayer {
    width: 100vw;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d3436;
}
.videoPlayer video {
    height: 70%;
    width: 70%;
}
.saving {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
    background-color: #fdba3b;
    border: 1px solid #fdba3b;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
}

.imgsl {
    cursor: pointer;
}
.actions {
    position: absolute;
    right: 1%;
    top: 3%;
    z-index: 99;
}
.generate {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #fdba3b;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}


.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
}