<!-- <div>
    single <input type="file" #fileInput />
    <button (click)="fileUpload()">send</button><br /><br />
    multiple
    <input type="file" (change)="makingSomeStuf()" #filesInput multiple />
    <button (click)="filesUpload()">send</button><br /><br />
</div>
<div #conainerImage></div>


<div #conainerEditor class="imageEditor" id="tui-image-editor-container"></div> -->
<!-- 

<ng-container >


        <div style="display: none;">
            <input type="hidden" name="" #imageSelected>
        </div>
        <div class="actions">
            <button  class="saving" (click)="save()" *ngIf="preview">save</button>
            <button  class="saving" (click)="play()" *ngIf="preview">preview</button>
            <button  class="saving" (click)="draw()" *ngIf="!preview">draw</button>
            <button id="generate" class="saving" (click)="generate()" *ngIf="!preview">
                <span> générer video </span> 
                <mat-spinner *ngIf="loader == true" [diameter]="20"></mat-spinner>
            </button>
        </div>
        <div class="container">
            <div class="imageChoise" id="imageLook">
                <div *ngFor="let item of characters;">
                    <img [src]="item.image" class="imgsl" alt="" (click)="updateImage(item)" #img [attr.data-id]="item.id">
                </div>
            </div>
            <div class="imageEditor" id="tui-image-editor-container" #conainerEditor *ngIf="!preview"></div>
            <div class="videoPlayer" *ngIf="preview">
                <video #videoPlayer id="videoPlayer" width="50%" controls muted="muted" >
                    <source [src] = "cameraSrc" type="video/mp4" />
                </video>
            </div>
        </div>


</ng-container>


 -->


 <app-storie-simple></app-storie-simple>