<!-- <div>
    single <input type="file" #fileInput />
    <button (click)="fileUpload()">send</button><br /><br />
    multiple
    <input type="file" (change)="makingSomeStuf()" #filesInput multiple />
    <button (click)="filesUpload()">send</button><br /><br />
</div>
<div #conainerImage></div>


<div #conainerEditor class="imageEditor" id="tui-image-editor-container"></div> -->

<ng-container >


        <div style="display: none;">
            <input type="hidden" name="" #imageSelected>
        </div>
        <div class="actions">
            <button  class="saving" (click)="save()" *ngIf="preview">save</button>
            <button  class="saving" (click)="play()" *ngIf="preview">preview</button>
            <button  class="saving" (click)="draw()" *ngIf="!preview">draw</button>
            <button id="generate" class="saving" (click)="generate()" *ngIf="!preview">
                <span> générer video </span> 
                <mat-spinner *ngIf="loader == true" [diameter]="20"></mat-spinner>
            </button>
        </div>
        <div class="container">
            <ng-container *ngIf="!preview">
                <div class="editor-wrap">
                    <div class="imageEditor" id="tui-image-editor-container" #conainerEditor ></div>
                    <div class="visuaImage" #allImages></div>
                </div>
            </ng-container>

            <ng-container *ngIf="preview">
                <div class="videoPlayer">
                    <video #videoPlayer id="videoPlayer" width="50%" controls muted="muted" >
                        <source [src] = "cameraSrc" type="video/mp4" />
                    </video>
                </div>
            </ng-container>


            <div class="imageChoise" id="imageLook">
                <!-- <div *ngFor="let item of characters;">
                    <img [src]="item.image" class="imgsl" alt="" (click)="updateImage(item)" #img [attr.data-id]="item.id">
                </div> -->
                <div class="searchPr"><input type="text" [(ngModel)]="searchValue"> <button (click)="search()"> search</button></div>
                <div *ngFor="let item of images" class="wrap-img">
                    <img [src]="item.src.small" class="imgsl" alt="" (click)="updateImage(item)" #img [attr.data-id]="item.id">
                </div>
            </div>
        </div>

</ng-container>

<ng-container > 

    <div>
        <video src=""></video>
        <button> generate</button>
    </div>
</ng-container>





